<a href="https://colab.research.google.com/github/Rakib911Hossan/Al_Project/blob/main/Batch_35_Mid_CGPA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
course_code=[]
for i in range(4):
    x=input(f"Enter Course Code{i+1}:")
    course_code.append(x)
print(course_code)
marks=[]
credit=[]
for i in range(4):
    x=int(input(f"Enter marks of {course_code[i]}:"))
    y = int(input(f"Enter credit of {course_code[i]}:"))
    marks.append(x)
    credit.append(y)

Enter Course Code1:CSE 100
Enter Course Code2:CSE 200
Enter Course Code3:CSE 300
Enter Course Code4:CSE 400
['CSE 100', 'CSE 200', 'CSE 300', 'CSE 400']
Enter marks of CSE 100:70
Enter credit of CSE 100:3
Enter marks of CSE 200:80
Enter credit of CSE 200:2
Enter marks of CSE 300:95
Enter credit of CSE 300:3
Enter marks of CSE 400:65
Enter credit of CSE 400:2
[70, 80, 95, 65]
[3, 2, 3, 2]

In [ ]:
print("Marks",marks)
print("Credit",credit)

Marks [70, 80, 95, 65]
Credit [3, 2, 3, 2]

In [ ]:
grade_list=[]
for i in range(4):
  if marks[i]>=80:
    grade=4.0
  elif marks[i]>=70:
    grade=3.5
  elif marks[i]>=60:
    grade=3.0
  elif marks[i]>=50:
    grade=2.5
  elif marks[i]>=40:
    grade=2.0
  else:
    grade=0
  grade_list.append(grade)
print(grade_list)

[3.5, 4.0, 4.0, 3.0]

In [ ]:
cgpa=0
for i in range(4):
  cgpa=cgpa+grade_list[i]*credit[i]
  result=cgpa/sum(credit)
print(result)

3.65