<a href="https://colab.research.google.com/github/Rakib911Hossan/Al_Project/blob/main/lab04_14_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
box = {"cat" : "leg", "description" : "none"}

print(box["description"])

key = list(box.keys())
print(key)

value = list(box.values())
print(value)

"leg" in box
# box == "description"

none
['cat', 'description']
['leg', 'none']

False

In [27]:
def sums(n):
  try:
    sum = 0
    for i in range(1,n,2):
      sum += i
    return sum
  except Exception as e:
    print(e)
  finally:
    print("Error")

n = int(input("Enter a number: "))
print(sums(n))

Enter a number: fghd

ValueError: invalid literal for int() with base 10: 'fghd'

In [23]:
lst = [1,2,4,5,7,10]
print(lst)
lst[0],lst[-1] = lst[-1],lst[0]
print(lst)

[1, 2, 4, 5, 7, 10]
[10, 2, 4, 5, 7, 1]

In [28]:
birthdays = {'Alice': 'Apr 1', 'Bob': 'Dec 12', 'Carol': 'Mar 4'}

while True:
    print('Enter a name: (blank to quit)')
    name = input()
    if name == '':
        break

    if name in birthdays:
      print(birthdays[name] + ' is the birthday of ' + name)
    else:
      print('I do not have birthday information for ' + name)
      print('What is their birthday?')
      bday = input()
      birthdays[name] = bday
      print('Birthday database updated.')

Enter a name: (blank to quit)
rakib
I do not have birthday information for rakib
What is their birthday?
11 sep
Birthday database updated.
Enter a name: (blank to quit)
rakib
11 sep is the birthday of rakib
Enter a name: (blank to quit)