<a href="https://colab.research.google.com/github/Rakib911Hossan/Al_Project/blob/main/Lab_3_07_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
spam = 1
sum = 0
while spam <= 10:
  spam = spam + 1
  if spam % 2 == 0:
    if(spam >= 5 and spam <= 8):
      continue
    sum += spam
print("sum:", sum)

sum: 16

In [29]:

sum = 0
for number in range(0,11,2):
    if 5 <= number <= 8:
      continue
    sum += number
print("sum:", sum)

sum: 16